<!doctype html>

<html lang="en" style="background-color: rgb(228, 210, 186);">
  <div style="background-color: rgb(228, 210, 186);">
        
    <head>            
      <meta charset="utf-8">
      <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
      
  
      
      
      <!-- Bootstrap CSS -->

      <title>Blog de Bruno</title>
    </head>


    <body>

          
      {% block main_content %}
      
      {% endblock main_content %} <br>
      
     
      
    </body>



    
  </div>
  </html>
{% include 'Blog/components/footer.html' %}